@charset "utf-8";

b {
  font-family: "nui", "WenQuanYi Micro Hei" !important;
}  /** For 163 Mail */

span.octicon {
  font-family: "octicons", "WenQuanYi Micro Hei" !important;
}  /** For GitHub */

span.mega-octicon {
  font-family: "octicons", "WenQuanYi Micro Hei" !important;
}  /** For GitHub */

span.tmsg-ico {
  font-family: "global-iconfont", "WenQuanYi Micro Hei" !important;
}  /** For Taobao */

span.iconfont {
  font-family: "global-iconfont", "WenQuanYi Micro Hei" !important;
}  /** For Taobao */

i.iconfont {
  font-family: "iconfont", "WenQuanYi Micro Hei" !important;
}  /** For Taobao */

i.icon {
  font-family: "icologo", "WenQuanYi Micro Hei" !important;
}  /** For 115 */

s.icon {
  font-family: "icologo", "WenQuanYi Micro Hei" !important;
}  /** For 115 */

* {
  font-family: "WenQuanYi Micro Hei" !important;
}
