@charset "utf-8";

b {
  font-family: "nui", "WenQuanYi Micro Hei" !important;
}  /** For 163 Mail */

span {
  font-family: "octicons", "WenQuanYi Micro Hei" !important;
}  /** For GitHub */

i.icon {
  font-family: "icologo", "WenQuanYi Micro Hei" !important;
}  /** For 115 */

s.icon {
  font-family: "icologo", "WenQuanYi Micro Hei" !important;
}  /** For 115 */

* {
  font-family: "WenQuanYi Micro Hei" !important;
}
